@page "/"

@using BlazorEdgeModule.Edge
@inject IoTEdgeService EdgeService

@implements IDisposable

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor on Edge working for you?" />

<button class="btn btn-primary" @onclick="Send">Send message</button>

message: @message

@code
{
    string message;

    protected override void OnInitialized()
    {
        this.EdgeService.InputMessageReceived += OnInputMessageReceived;
    }

    void IDisposable.Dispose()
    {
        this.EdgeService.InputMessageReceived -= OnInputMessageReceived;
    }

    private void OnInputMessageReceived(object sender, string messageString)
    {
        Task.Run(()=> {
            message = messageString;
            this.StateHasChanged();
        });
    }

    private async Task Send()
    {
        await EdgeService.SendMessage();
    }
}